/**
* Select
**/
.dw-select-input {
  position: relative;
  width: 110px;
  height: 29px;

  .dw-select-input__select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: $color-grayscale-100;
    border: none;
    outline: none;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    padding: 7px 12px;
    background-color: $color-white;
    text-transform: capitalize;
  }

  .dw-select-input__icon {
    position: absolute;
    right: 8px;
    top: 9px;
    width: 14px;
    height: 14px;
    pointer-events: none;
    touch-action: none;
  }

  .dw-select-input__options {
    position: absolute;
    top: 34px;
    width: 100%;
    background-color: $color-white;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 8px 0;

    &.dw-select-input__options--hide {
      display: none;
    }

    .dw-select-input__options__item {
      padding: 2px 4px;
      font-size: 14px;
      line-height: 16px;
      text-transform: capitalize;

      > span {
        cursor: pointer;
        display: block;
        padding: 6px 8px;
        border-radius: 8px;
        transition: all 0.2s linear;
        color: $color-black;
      }
      > span:hover {
        background-color: $color-purple;
        color: $color-white;
      }
    }
  }
}

/**
* Checkbox
**/
.dw-checkbox {
  .dw-checkbox__input-box {
    height: 0;
    width: 0;

    &:checked + .dw-checkbox__shadow-box > span {
      border: 4px solid $color-purple;
      background-color: $color-purple;
      animation: shrink-bounce 0.2s cubic-bezier(.4,.0,.23,1);
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;

      &:before {
        content: "";
        position: absolute;
        top: 10px;
        left: 6px;
        border-color: $color-white;
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
        transform: rotate(45deg);
        transform-origin: 0% 100%;
        animation: checkbox-check 0.12s 0.2s cubic-bezier(.4,.0,.23,1) forwards;
      }
    }
  }

  .dw-checkbox__shadow-box {
    position: relative;
    display: flex;
    align-items: center;
    transition: color 0.2s cubic-bezier(.4,.0,.23,1);
    width: 22px;
    height: 22px;
    box-sizing: border-box;

    > span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background: transparent;
      border: 2px solid $color-purple;
      border-radius: 6px;
      cursor: pointer;
      transition: all 0.2s cubic-bezier(.4,.0,.23,1);
    }
  }
}

/**
* Text
**/
.dw-text-input {
  border: none;
  outline: 0 none;
  border-radius: 9999px;
  caret-color: $color-purple;
  min-width: 117px;
  height: 46px;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding: 14px 20px;
  padding-left: 0;
  z-index: 0;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.03));

  &::placeholder {
    color: $color-grayscale-300;
  }

  &::selection {
    background-color: $color-purple;
    color: $color-white;
  }
}
