.dw-layout {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $color-background-dark;
  min-height: 100vh;

  .dw-layout__container {
    position: relative;
    display: block;
    margin-top: 42px;
    margin-bottom: 42px;
    width: 720px;
    min-height:  620px;
    height: max-content;
    background: $color-background-bright;
    border-radius: 20px;
    overflow-x: hidden;
  }
}
