.dw-layout {
    position: relative;
    display: block;
    margin-top: 42px;
    margin-bottom: 42px;
    width: 720px;
    min-height:  620px;
    height: max-content;
    background: #F5F5F5;
    border-radius: 20px;
    overflow-x: hidden;
}