.dw-progress-panel {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  row-gap: 12.5px;
  margin: 0 auto;
  width: 518px;
  height: 123px;
  background: $color-orange-200;
  border-radius: 20px;
  padding: 0 19px;

  .dw-progress-panel__title {
    color: $color-white;
  }

  .dw-progress-panel__description {
    color: $color-orange-100;
  }
}
