/**
* colors
*/
$color-greyscale-100: #F5F5F5;
$color-greyscale-200: #D1D0D9;
$color-greyscale-300: #BCBCBC;
$color-greyscale-400: #9796A8;
$color-greyscale-500: #3B3B3B;
$color-greyscale-600: #2E2E2E;

$color-orange-100: #EBB9B8;
$color-orange-200: #E07C7C;

$color-white: #FFFFFF;
$color-black: #000000;

$color-purple: #585292;

$color-background-bright: #F5F5F5;
$color-background-dark: $color-greyscale-200;

/**
 * z-index
 */
$z-index-base: 0;
$z-index-container: 10;
$z-index-content: 100;
$z-index-form: 120;
